{% extends 'base.html.twig' %}

{% block title %}Match{% endblock %}

{% block body %}
    <h1>Match</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>ScoreEquipeDomicile</th>
                <td>{{ match.scoreEquipeDomicile }}</td>
            </tr>
            <tr>
                <th>ScoreEquipeExterieur</th>
                <td>{{ match.scoreEquipeExterieur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('match_index') }}">back to list</a>

    <a href="{{ path('match_edit', {'id': match.id}) }}">edit</a>

    {{ include('match/_delete_form.html.twig') }}
{% endblock %}
