{% extends 'base.html.twig' %}

{% block title %}Nouvelles équipes{% endblock %}

{% block body %}
    <h1>Modification des information de l'equipe</h1>


{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Modifier') }}</button>
{{ form_end(form) }}

<a href="{{ path('nos_equipes') }}">Retour à la liste des équipes</a>
{% endblock %}